#selection1{
    background-color: rgb(238, 0, 90);
}

#selection2{
    background-color: rgb(44, 62, 90);
}

#selection3{
    background-color: rgb(51, 152, 204);
}
.section{
    text-align: center;
    color: white;
}
