#travel1{
   background-image: url("/irish countryside.jpg");
   background-size: cover;
}

#travel2{
    background-image: url("/italy-valley-countryside.jpg");
    background-size: cover;
}

#travel3{
    background-image: url("/new-york-city.jpg");
    background-size: cover;
}

#cloud1{
    background-image: url("/google.jpg");
    background-size: cover;
}

#cloud2{
        background-image: url("/server.jpeg");
    background-size: cover;
}

#cloud3{
    background-image: url("/room.jpg");
    background-size: cover;
}

#cloud4{
    background-image: url("/apple-park.jpg");
    background-size: cover;
}

#cloud5{
    background-image: url("/room.jpg");
    background-size: cover;
}



.section{
    color: white;
    margin: 0;
    background: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    
}

      .justify {
        text-align:justify;
        text-justify:inter-word;
        width: 50%;
      }
      
    .text {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 69%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
      }
